body {
    margin: 0;
    overflow: hidden; /* 스크롤바 제거 */
    font-family: sans-serif;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
    display: block;
}